@charset "UTF-8";
@font-face {
  font-family: RampartOne;
  font-style: normal;
  font-weight: 400;
  src: url(~/../../../assets/fonts/RampartOne-Regular.woff2) format(woff2);
  font-display: swap;
}
@font-face {
  font-family: RubikBubbles;
  font-style: normal;
  font-weight: 400;
  src: url(~/../../../assets/fonts/RubikBubbles-Regular.woff2) format(woff2);
  font-display: swap;
}
@font-face {
  font-family: RubikGlitchPop;
  font-style: normal;
  font-weight: 400;
  src: url(~/../../../assets/fonts/RubikGlitchPop-Regular.woff2) format(woff2);
  font-display: swap;
}
@font-face {
  font-family: MontserratAlternates;
  font-style: normal;
  font-weight: 700;
  src: url(~/../../../assets/fonts/MontserratAlternates-Bold.woff2) format(woff2);
  font-display: swap;
}
@font-face {
  font-family: MontserratAlternates;
  font-style: italic;
  font-weight: 700;
  src: url(~/../../../assets/fonts/MontserratAlternates-BoldItalic.woff2) format(woff2);
  font-display: swap;
}
@font-face {
  font-family: MontserratAlternates;
  font-style: normal;
  font-weight: 100;
  src: url(~/../../../assets/fonts/MontserratAlternates-Thin.woff2) format(woff2);
  font-display: swap;
}
@font-face {
  font-family: MontserratAlternates;
  font-style: italic;
  font-weight: 100;
  src: url(~/../../../assets/fonts/MontserratAlternates-ThinItalic.woff2) format(woff2);
  font-display: swap;
}
@font-face {
  font-family: MontserratAlternates;
  font-style: normal;
  font-weight: 500;
  src: url(~/../../../assets/fonts/MontserratAlternates-Medium.woff2) format(woff2);
  font-display: swap;
}
@font-face {
  font-family: MontserratAlternates;
  font-style: italic;
  font-weight: 500;
  src: url(~/../../../assets/fonts/MontserratAlternates-Medium.woff2) format(woff2);
  font-display: swap;
}
@font-face {
  font-family: MontserratAlternates;
  font-style: normal;
  font-weight: 400;
  src: url(~/../../../assets/fonts/MontserratAlternates-Regular.woff2) format(woff2);
  font-display: swap;
}
@font-face {
  font-family: MontserratAlternates;
  font-style: normal;
  font-weight: 300;
  src: url(~/../../../assets/fonts/MontserratAlternates-Light.woff2) format(woff2);
  font-display: swap;
}
@font-face {
  font-family: MontserratAlternates;
  font-style: italic;
  font-weight: 300;
  src: url(~/../../../assets/fonts/MontserratAlternates-LightItalic.woff2) format(woff2);
  font-display: swap;
}
/* нормализация */
html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*  
 Убираем внутренние отступы слева тегам списков,
 у которых есть атрибут class
*/
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/*
 Убираем внешние отступы body и двум другим тегам,
 у которых есть атрибут class
*/
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/*
 Убираем внешние отступы вертикали нужным тегам,
 у которых есть атрибут class
*/
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  padding: 0;
  margin-left: 0;
  border: none;
}

/**
 Убираем стандартный маркер маркированному списку,
 у которого есть атрибут class
*/
:where(ul[class]) {
  list-style: none;
}

/**
 Обнуляем вертикальные внешние отступы параграфа,
 объявляем локальную переменную для внешнего отступа вниз,
 чтобы избежать взаимодействие с более сложным селектором
*/
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
 Внешний отступ вниз для параграфа без атрибута class,
 который расположен не последним среди своих соседних элементов
*/
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
 Упрощаем работу с изображениями
*/
img {
  display: block;
  max-width: 100%;
}

/**
 Наследуем свойства шрифт для полей ввода
*/
html {
  /**
   Пригодится в большинстве ситуаций
   (когда, например, нужно будет "прижать" футер к низу сайта)
  */
  height: 100%;
  /**
   Плавный скролл
  */
  scroll-behavior: smooth;
}

body {
  /**
   Пригодится в большинстве ситуаций
   (когда, например, нужно будет "прижать" футер к низу сайта)
  */
  min-height: 100%;
  /**
   Унифицированный интерлиньяж
  */
  line-height: 1.5;
}

/**
 Приводим к единому цвету svg-элементы
*/
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
 Чиним баг задержки смены цвета при взаимодействии с svg-элементами
*/
svg * {
  -webkit-transition-property: fill, stroke;
  transition-property: fill, stroke;
}

/**
 Удаляем все анимации и переходы для людей,
 которые предпочитают их не использовать
*/
@media (prefers-reduced-motion: reduce) {
  * {
    scroll-behavior: auto !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
  }
}
/*  */
/*  */
/*  */
/*  */
/*  */
.page {
  background-color: #2e2e2e;
}

.page__auth--form {
  width: 300px;
  height: 500px;
  background-color: #191919;
  border: solid 2px #4d4d4d;
  border-radius: 15px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 25%;
  color: #f5f5f5;
}
.page__auth--form .w__login {
  font-size: 40px;
}