@charset "UTF-8";
@font-face {
  font-family: Roboto;
  src: url("~/../../../assets/fonts/Roboto-Regular.woff2");
  font-display: swap;
}
* {
  font-family: Roboto;
  font-weight: normal;
  font-size: 20px;
}

/* нормализация */
html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*  
 Убираем внутренние отступы слева тегам списков,
 у которых есть атрибут class
*/
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/*
 Убираем внешние отступы body и двум другим тегам,
 у которых есть атрибут class
*/
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/*
 Убираем внешние отступы вертикали нужным тегам,
 у которых есть атрибут class
*/
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  padding: 0;
  margin-left: 0;
  border: none;
}

/**
 Убираем стандартный маркер маркированному списку,
 у которого есть атрибут class
*/
:where(ul[class]) {
  list-style: none;
}

/**
 Обнуляем вертикальные внешние отступы параграфа,
 объявляем локальную переменную для внешнего отступа вниз,
 чтобы избежать взаимодействие с более сложным селектором
*/
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
 Внешний отступ вниз для параграфа без атрибута class,
 который расположен не последним среди своих соседних элементов
*/
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
 Упрощаем работу с изображениями
*/
img {
  display: block;
  max-width: 100%;
}

/**
 Наследуем свойства шрифт для полей ввода
*/
html {
  /**
   Пригодится в большинстве ситуаций
   (когда, например, нужно будет "прижать" футер к низу сайта)
  */
  height: 100%;
  /**
   Плавный скролл
  */
  scroll-behavior: smooth;
}

body {
  /**
   Пригодится в большинстве ситуаций
   (когда, например, нужно будет "прижать" футер к низу сайта)
  */
  min-height: 100%;
  /**
   Унифицированный интерлиньяж
  */
  line-height: 1.5;
}

/**
 Приводим к единому цвету svg-элементы
*/
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
 Чиним баг задержки смены цвета при взаимодействии с svg-элементами
*/
svg * {
  -webkit-transition-property: fill, stroke;
  transition-property: fill, stroke;
}

/**
 Удаляем все анимации и переходы для людей,
 которые предпочитают их не использовать
*/
@media (prefers-reduced-motion: reduce) {
  * {
    scroll-behavior: auto !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
  }
}
/*  */
/*  */
/*  */
/*  */
/*  */
.desert {
  position: absolute;
  z-index: -1;
}

.page__auth--form {
  position: absolute;
  top: 25%;
  left: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 410px;
  height: 557px;
  padding: 40px 80px;
  border: 2.134px solid rgba(193, 183, 88, 0.1);
  border-radius: 29px;
  background: rgba(193, 160, 88, 0.28);
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  gap: 40px;
  -webkit-backdrop-filter: blur(8.8932294846px);
          backdrop-filter: blur(8.8932294846px);
}
.page__auth--form .w__login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 100px;
  font-size: 50px;
  font-weight: 700;
}