@charset "UTF-8";
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: url(./../../assets/fonts/Roboto-Regular.woff2);
}
/* нормализация */
html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*  
 Убираем внутренние отступы слева тегам списков,
 у которых есть атрибут class
*/
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/*
 Убираем внешние отступы body и двум другим тегам,
 у которых есть атрибут class
*/
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/*
 Убираем внешние отступы вертикали нужным тегам,
 у которых есть атрибут class
*/
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  padding: 0;
  margin-left: 0;
  border: none;
}

/**
 Убираем стандартный маркер маркированному списку,
 у которого есть атрибут class
*/
:where(ul[class]) {
  list-style: none;
}

/**
 Обнуляем вертикальные внешние отступы параграфа,
 объявляем локальную переменную для внешнего отступа вниз,
 чтобы избежать взаимодействие с более сложным селектором
*/
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
 Внешний отступ вниз для параграфа без атрибута class,
 который расположен не последним среди своих соседних элементов
*/
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
 Упрощаем работу с изображениями
*/
img {
  display: block;
  max-width: 100%;
}

/**
 Наследуем свойства шрифт для полей ввода
*/
html {
  /**
   Пригодится в большинстве ситуаций
   (когда, например, нужно будет "прижать" футер к низу сайта)
  */
  height: 100%;
  /**
   Плавный скролл
  */
  scroll-behavior: smooth;
}

body {
  /**
   Пригодится в большинстве ситуаций
   (когда, например, нужно будет "прижать" футер к низу сайта)
  */
  min-height: 100%;
  /**
   Унифицированный интерлиньяж
  */
  line-height: 1.5;
}

/**
 Приводим к единому цвету svg-элементы
*/
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
 Чиним баг задержки смены цвета при взаимодействии с svg-элементами
*/
svg * {
  -webkit-transition-property: fill, stroke;
  transition-property: fill, stroke;
}

/**
 Удаляем все анимации и переходы для людей,
 которые предпочитают их не использовать
*/
@media (prefers-reduced-motion: reduce) {
  * {
    scroll-behavior: auto !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
  }
}
/*  */
/*  */
/*  */
/*  */
/*  */
.desert {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; /* Растягивает изображение по всему экрану */
}

.page__auth--form {
  position: absolute;
  top: 25%;
  left: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 21.354167vw;
  height: 29.010417vw;
  padding: 40px 80px;
  border: 2.134px solid rgba(193, 183, 88, 0.1);
  border-radius: 29px;
  background: rgba(193, 160, 88, 0.28);
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  gap: 40px;
  -webkit-backdrop-filter: blur(8.8932294846px);
          backdrop-filter: blur(8.8932294846px);
}
.page__auth--form .w__login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 40px;
  color: white;
  font-family: Roboto;
  font-size: 75px;
  font-weight: 700;
}
.page__auth--form .input__places {
  display: grid;
  grid-gap: 40px;
}
.page__auth--form .d__username {
  display: grid;
  height: 50px;
  color: white;
  font-family: Roboto;
  font-size: 25px;
  font-weight: 700;
}
.page__auth--form .i__username {
  height: 30px;
  border-color: transparent;
  border-radius: 10px;
  font-family: Roboto;
  font-size: 20px;
}
.page__auth--form .d__password {
  display: grid;
  height: 50px;
  margin-bottom: 20px;
  color: white;
  font-family: Roboto;
  font-size: 25px;
  font-weight: 700;
}
.page__auth--form .i__password {
  height: 30px;
  border-color: transparent;
  border-radius: 10px;
  font-family: Roboto;
  font-size: 20px;
}
.page__auth--form .button__login {
  position: relative;
  top: 25px;
  left: 50%;
  width: 100px;
  height: 50px;
  border-color: transparent;
  border-radius: 13px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.table__topic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Roboto;
}

.logout {
  position: absolute;
  right: 10px;
  top: 0px;
  height: 38px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: Roboto;
}

.change-theme {
  position: absolute;
  left: 10px;
  top: 0px;
  height: 38px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: Roboto;
}

.btn-add__show {
  position: absolute;
  left: 500px;
  top: 0px;
  height: 38px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: Roboto;
}

.table {
  table-layout: fixed;
  width: 100%;
  border: 2px solid rgb(140, 140, 140);
  border-collapse: collapse;
  font-family: Roboto;
  font-size: 20px;
  font-family: Roboto;
}
.table th {
  height: 70px;
  border: 1px solid rgb(160, 160, 160);
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
}
.table td {
  height: 70px;
  border: 1px solid rgb(160, 160, 160);
  text-align: center;
  font-family: Roboto;
}
.table td:hover {
  background-color: rgb(170, 170, 170);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.th__number {
  width: 80px;
}

.add__w {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Roboto;
}

.add__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Roboto;
}
.add__input--buttons {
  width: 80px;
}
.add__input--buttons .btn-add,
.add__input--buttons .btn-save {
  width: 80px;
}
.add__input--input input {
  height: 48px;
  width: 229.75px;
}

.add-hidden {
  display: none;
}

.add-active {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  z-index: 1000;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
  pointer-events: auto;
}