.home {
    display: flex;
    height: 800px; // Используем 100vh, чтобы занимать всю высоту экрана
    position: absolute;
    overflow: hidden;
    z-index: 10;
    transition: width 1s ease; // Плавное изменение ширины

    // Убираем fixed ширину
    &--open {
        width: 50%; // Меню открыто
    }

    &--closed {
        width: 25%; // Меню закрыто
    }

    &__glass-menu {
        position: absolute;

        height: 800px;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px); // Стеклянный эффект
        border-right: 1px solid rgba(255, 255, 255, 0.3);
        padding: 20px;
        box-sizing: border-box;
        z-index: 10;
        transition: width 1s ease; // Плавное изменение ширины

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        // Установка ширины для открытого и закрытого состояния
        &--open {
            width: 50%; // Меню открыто
        }

        &--closed {
            width: 25%; // Меню закрыто
        }
    }

    &__title {
        color: white;
        font-size: 36px;
        margin-bottom: 20px;
    }

    &__description {
        color: white;
        margin-bottom: 30px;
    }

    &__btn {
        padding: 10px 20px;
        background-color: #3b82f6;
        color: white;
        border: none;
        border-radius: 8px;
        font-size: 18px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #2563eb;
        }

        &:active {
            background-color: #1d4ed8;
        }
    }
}
