.about {
    padding: 40px;
    color: $white;
    background-color: $black;
    text-align: center;
    font-family: Rubik;

    .about-text1 {
        line-height: 1.1;

        margin-bottom: 20px;
        color: $white;
        background-image: linear-gradient(
            90deg,
            #707070 0%,
            #d3d3d3 50%,
            #747474 100%
        );
        background-clip: text;
        background-size: 100%;
        font-size: 40px;
        font-weight: 700;
        -webkit-text-fill-color: transparent;
    }
}

.about-text2 {
    line-height: 1.3;
    margin-top: 30px;
    background: linear-gradient(
        135deg,
        #ff4500,
        /* ярко-оранжевый (огонь) */ #ff0000 40%,
        /* красный (ядро пламени) */ #ff4500 60%,
        /* возвращаем ярко-оранжевый */ #ff8c00 70%,
        /* оранжевый */ #ff0000 80%,
        /* желтый (верхушка огня) */ #000000 95%
    ); /* черный (дым) */
    background-clip: text;
    background-size: 100%;

    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 65px;
    font-weight: bold;
    -webkit-text-fill-color: transparent;
}
