.about {
    padding: 40px;
    color: $white;
    background-color: $black;
    text-align: center;
    font-family: Rubik;

    .about-text1 {
        line-height: 1.1;

        margin-bottom: 20px;
        color: $white;
        background-image: linear-gradient(145deg, #ffffff 0%, #5c5c5c 100%);
        background-clip: text;
        background-size: 100%;
        font-size: 40px;
        font-weight: 700;
        -webkit-text-fill-color: transparent;
    }
}

.about-text2 {
    line-height: 1.3;
    margin-top: 30px;
    background-image: linear-gradient(180deg, #ff4242 0%, #6c6c6c 100%);
    background-clip: text;
    background-size: 100%;

    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 65px;
    font-weight: bold;
    -webkit-text-fill-color: transparent;
}
