.c__caseorium {
    height: 500px;
    background-color: #333;
    font-family: Rubik, sans-serif;
    font-size: 100px;
    font-weight: 700;
}

.project-showcase-outer {
    padding-bottom: 40px;
    background-color: #1f1f1f;
}
