.c__caseorium {
    height: 500px;
    background-color: $black;
    font-family: Rubik, sans-serif;
    font-size: 100px;
    font-weight: 700;
}

.project-showcase-outer {
    padding: 40px;
    background-color: $black;
}

.project__name {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 100px;
    font-weight: 700;
}
