.c__expert {
    height: auto;
    border-radius: 20px;
    background-color: #333;
    font-family: Rubik, sans-serif;
    font-size: 100px;
    font-weight: 700;
}

.expert-outer {
    padding: 40px;
    background-color: $black;
}
