.c__expert {
    height: auto;
    border-radius: 20px;
    background-color: $black;
    font-family: Rubik, sans-serif;
    font-size: 100px;
    font-weight: 700;
}

.expert-outer {
    padding: 40px;
    background-color: $black;
}

.c__expert--writing {
    display: flex;
    justify-content: center;
    color: white;

    font-family: Rubik, sans-serif;
    font-size: 100px;

    font-weight: 700;
}
