@font-face {
    font-family: Rubik;
    font-style: normal;
    font-weight: 400;
    src: url(/src/assets/fonts/Rubik-Regular.woff);
}
@font-face {
    font-family: Rubik;
    font-style: normal;
    font-weight: 700;
    src: url(/src/assets/fonts/Rubik-Bold.woff);
}
