.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    padding: 10px 40px;
    background-color: #1f1f1f; /* Тёмно-серый фон */
    font-family: Rubik, sans-serif;
    font-weight: 700;

    &__logo {
        width: 80px;
        height: 80px;
    }

    &__links {
        display: flex;
        gap: 100px;

        & > div {
            position: relative;

            &:hover .header__dropdown {
                display: block;
            }
        }
    }

    a {
        color: #f0f0f0; /* Светлый цвет текста */
        transition: color 0.3s ease;
        text-decoration: none;

        &:hover {
            color: #ff4d4d; /* Красный при наведении */
        }
    }

    .header__dropdown {
        position: absolute;
        z-index: 1;
        top: 100%;
        left: 0;
        display: none;
        line-height: 15px;
        padding: 10px;
        border-radius: 4px;
        background-color: #333333; /* Тёмно-серый для выпадающего меню */
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);

        a {
            display: block;
            padding: 8px 12px;
            border-radius: 5px;
            color: #f0f0f0; /* Светлый текст для ссылок в меню */

            &:hover {
                color: #fff;
                background-color: #ff4d4d; /* Красный при наведении */
            }
        }
    }
}

.header__button {
    &--button {
        position: relative;
        padding: 12px 24px;
        border: 2px solid #ff4d4d; /* Красная рамка */
        border-radius: 30px; /* Округлые края */
        outline: none; /* Убираем стандартные обводки */
        color: #fff;
        background-color: #1f1f1f; /* Тёмный фон кнопки */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Лёгкая тень по умолчанию */
        cursor: pointer;
        transition: all 0.3s ease; /* Плавный переход для всех изменений */
        font-family: Rubik, sans-serif;
        font-size: 16px;
        font-weight: 700;

        &:hover {
            color: #fff; /* Белый цвет текста */
            background-color: #ff4d4d; /* Меняем фон на красный при наведении */
            box-shadow: 0 10px 20px rgba(161, 48, 48, 0.8); /* Красная тень */
            transform: scale(1.05); /* Лёгкое увеличение кнопки при наведении */
        }

        &:active {
            box-shadow: 0 6px 10px rgba(255, 77, 77, 0.6); /* Тень при нажатии */
            transform: scale(0.98); /* Эффект нажатия — уменьшение */
        }

        &:focus-visible {
            outline: 2px solid #ff4d4d; /* Красная обводка при фокусе через клавиатуру */
        }
    }
}
