.services {
    padding: 40px;
    color: #f0f0f0; /* Светлый цвет текста */
    background-color: #1f1f1f; /* Тёмно-серый фон */
    font-family: Rubik, sans-serif;

    &__title {
        margin-bottom: 20px;
        text-align: center;
        font-size: 24px;
        font-weight: 700;
    }

    &__list {
        display: flex;
        flex-wrap: wrap; /* Позволяет элементам переходить на новую строку */
        justify-content: center; /* Центрирует кубики */
        gap: 20px; /* Промежуток между кубиками */
    }

    &__item {
        width: 250px; /* Ширина кубиков */
        padding: 20px;
        border-radius: 8px; /* Скругление углов */
        background-color: #333; /* Тёмный фон для каждого элемента */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Тень для кубиков */
        transition: transform 0.3s, box-shadow 0.3s; /* Плавный переход для эффектов */

        &:hover {
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4); /* Увеличение тени при наведении */
            transform: translateY(-5px); /* Подъем кубика при наведении */
        }

        &-title {
            margin-bottom: 10px;
            text-align: center; /* Центрирование текста заголовка */
            font-size: 20px;
            font-weight: 600;
        }

        &-description {
            line-height: 1.5;
            text-align: center; /* Центрирование текста описания */
            font-size: 16px;
        }
    }
}
