@font-face {
    font-family: Rubik;
    font-style: normal;
    font-weight: 400;
    src: url(./../../assets/fonts/Rubik-Regular.woff2);
}

@font-face {
    font-family: Rubik;
    font-style: italic;
    font-weight: 400;
    src: url(./../../assets/fonts/Rubik-Italic.woff2);
}

@font-face {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    src: url(./../../assets/fonts/Rubik-Medium.woff2);
}

@font-face {
    font-family: Rubik;
    font-style: italic;
    font-weight: 500;
    src: url(./../../assets/fonts/Rubik-MediumItalic.woff2);
}

@font-face {
    font-family: Rubik;
    font-style: normal;
    font-weight: 700;
    src: url(./../../assets/fonts/Rubik-Bold.woff2);
}

@font-face {
    font-family: Rubik;
    font-style: italic;
    font-weight: 700;
    src: url(./../../assets/fonts/Rubik-BoldItalic.woff2);
}
