.filters {
    position: absolute;
    top: 100px;
    left: 20px;
    overflow-y: auto;
    width: 200px;
    padding: 20px;
    border-radius: 10px;
    background-color: #2e2e2e;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

    label {
        display: block;
        margin-bottom: 10px;
        color: #f0f0f0;
        text-transform: uppercase;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: bold;
    }

    select {
        display: block;
        width: 100%;
        padding: 8px;
        margin-bottom: 15px;
        border: 1px solid #444;
        border-radius: 5px;
        color: #f0f0f0;
        background-color: #1e1e1e;
        cursor: pointer;
        font-family: Montserrat;
        font-size: 14px;

        &:hover {
            background-color: #3e3e3e;
        }

        &:focus {
            border-color: #1a73e8;
            outline: none;
            box-shadow: 0 0 0 3px rgba(26, 115, 232, 0.5);
        }
    }

    .filter-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }
}

.table-container {
    overflow-x: auto;
    padding: 10px;
    margin-left: 230px;
    border-radius: 10px;
    background-color: #2e2e2e;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

    .people-table {
        width: auto;
        background-color: #1e1e1e;
        border-collapse: collapse;
        text-align: left;

        th,
        td {
            position: relative;
            padding: 8px 10px;
            border-bottom: 1px solid #3e3e3e;
            color: #f0f0f0;
            font-family: Montserrat;
        }

        th {

            padding-right: 30px;
            background-color: #444;
            text-transform: uppercase;
            font-weight: bold;

            button {
                position: absolute;
                top: 50%;
                right: 10px;
                border: none;
                color: #f0f0f0;
                background: none;
                cursor: pointer;
                transform: translateY(-50%);
                font-size: 16px;
            }
        }

        td {
            background-color: #2e2e2e;
        }

        tr {
            &:hover {
                background-color: #3e3e3e;
            }

            img {
                border-radius: 50%;
                box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
            }
        }

        tbody {
            tr:nth-child(even) {
                background-color: #3a3a3a;
            }

            tr:nth-child(odd) {
                background-color: #2e2e2e;
            }
        }
    }
}

.person-card__button {
    display: inline-block;
    width: 160px;
    padding: 10px 20px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;

    color: #fff;
    background-color: #1a73e8;
    cursor: pointer;
    text-transform: uppercase;
    font-family: Montserrat;
    font-weight: bold;

    &:hover {
        background-color: #1665c1;
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 0 3px rgba(26, 115, 232, 0.5);
    }
}
