.header {
    display: flex;
    justify-content: space-between;
    width: auto;
    height: 100px;
    border-bottom: solid 1px #f0f6fc;
    padding-inline: 20px;

    & .header__logo {
        cursor: pointer;
        font-size: 50px;
        filter: drop-shadow(1px 1px 4px #ffffff);
    }

    & .header__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 1000px;

        & a {
            color: #f5f5f5;

            font-family: Montserrat;
            font-weight: 700;
            text-decoration: none !important;
        }
    }
}

.main__w {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #f5f5f5;
    font-family: Montserrat;
    font-weight: 700;
}

.people {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: repeat(3, 400px);
    grid-column-gap: 100px;
    grid-row-gap: 170px;

    & .people__inner {
        border-color: transparent;
        border-radius: 50%;
        text-decoration: none;
        pointer-events: none;

        & .people__inner--photo {
            position: relative;
            width: 400px;
            height: 400px;
            border-radius: 50%;
            pointer-events: auto;
        }

        & .people__inner--writing {
            display: grid;
            justify-content: center; /* Центрирует по горизонтали */
            color: #f5f5f5;
            font-family: Montserrat;
            font-size: 30px;
            text-decoration: none;

            pointer-events: auto;
            place-items: center; /* Центрирует по вертикали, если нужно */

            & .writing--name {
                font-family: Montserrat;
                font-weight: 700;
            }

            & .writing--position {
                font-size: 20px;
            }
        }
    }
}
