@font-face {
    font-family: Roboto;
    src: url("~/../../../assets/fonts/Roboto-Regular.woff2");
    font-display: swap; // This will swap font once its loaded, for SEO purpose.
}

* {
    font-family: Roboto;
    font-weight: normal;
    font-size: 20px;
}
