@font-face {
    font-family: RampartOne;
    font-style: normal;
    font-weight: 400;
    src: url(~/../../../assets/fonts/RampartOne-Regular.woff2) format(woff2);
    font-display: swap;
}

@font-face {
    font-family: RubikBubbles;
    font-style: normal;
    font-weight: 400;
    src: url(~/../../../assets/fonts/RubikBubbles-Regular.woff2) format(woff2);
    font-display: swap;
}

@font-face {
    font-family: RubikGlitchPop;
    font-style: normal;
    font-weight: 400;
    src: url(~/../../../assets/fonts/RubikGlitchPop-Regular.woff2) format(woff2);
    font-display: swap;
}

@font-face {
    font-family: MontserratAlternates;
    font-style: normal;
    font-weight: 700;
    src: url(~/../../../assets/fonts/MontserratAlternates-Bold.woff2)
        format(woff2);
    font-display: swap;
}

@font-face {
    font-family: MontserratAlternates;
    font-style: italic;
    font-weight: 700;
    src: url(~/../../../assets/fonts/MontserratAlternates-BoldItalic.woff2)
        format(woff2);
    font-display: swap;
}

@font-face {
    font-family: MontserratAlternates;
    font-style: normal;
    font-weight: 100;
    src: url(~/../../../assets/fonts/MontserratAlternates-Thin.woff2)
        format(woff2);
    font-display: swap;
}

@font-face {
    font-family: MontserratAlternates;
    font-style: italic;
    font-weight: 100;
    src: url(~/../../../assets/fonts/MontserratAlternates-ThinItalic.woff2)
        format(woff2);
    font-display: swap;
}

@font-face {
    font-family: MontserratAlternates;
    font-style: normal;
    font-weight: 500;
    src: url(~/../../../assets/fonts/MontserratAlternates-Medium.woff2)
        format(woff2);
    font-display: swap;
}

@font-face {
    font-family: MontserratAlternates;
    font-style: italic;
    font-weight: 500;
    src: url(~/../../../assets/fonts/MontserratAlternates-Medium.woff2)
        format(woff2);
    font-display: swap;
}

@font-face {
    font-family: MontserratAlternates;
    font-style: normal;
    font-weight: 400;
    src: url(~/../../../assets/fonts/MontserratAlternates-Regular.woff2)
        format(woff2);
    font-display: swap;
}

@font-face {
    font-family: MontserratAlternates;
    font-style: normal;
    font-weight: 300;
    src: url(~/../../../assets/fonts/MontserratAlternates-Light.woff2)
        format(woff2);
    font-display: swap;
}

@font-face {
    font-family: MontserratAlternates;
    font-style: italic;
    font-weight: 300;
    src: url(~/../../../assets/fonts/MontserratAlternates-LightItalic.woff2)
        format(woff2);
    font-display: swap;
}
