.desert {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Растягивает изображение по всему экрану */
}

.page__auth--form {
    position: absolute;
    top: 25%;
    left: 50%;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    width: 21.354167vw;
    height: 29.010417vw;
    padding: 40px 80px;
    border: 2.134px solid rgba(193, 183, 88, 0.1);
    border-radius: 29px;
    background: rgba(193, 160, 88, 0.28);
    transform: translateX(-50%);
    gap: 40px;
    backdrop-filter: blur(8.893229484558105px);

    & .w__login {
        display: flex;
        justify-content: center;
        padding-bottom: 5.208333vw;
        font-size: 50px;
        font-weight: 700;
    }
}
