body {
    background-color: rgb(43, 43, 43);
}

.page__auth--form {
    position: absolute;
    top: 25%;
    left: 50%;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    width: 21.354167vw;
    height: 29.010417vw;
    padding: 40px 80px;
    border: 2.134px solid rgb(60, 60, 60);
    border-radius: 29px;
    background-color: rgb(50, 50, 50);
    transform: translateX(-50%);
    gap: 40px;
    backdrop-filter: blur(8.893229484558105px);

    & .w__login {
        display: flex;
        justify-content: center;
        padding-bottom: 40px;
        color: white;
        font-family: "Montserrat", sans-serif;
        font-size: 75px;
        font-weight: 700;
    }

    & .input__places {
        display: grid;
        grid-gap: 40px;
    }

    & .d__username {
        display: grid;
        height: 50px;
        color: white;
        font-family: "Montserrat", sans-serif;
        font-size: 25px;
        font-weight: 700;
    }

    & .i__username {
        height: 30px;
        border-color: transparent;
        border-radius: 10px;
        font-family: "Montserrat", sans-serif;
        font-size: 20px;
    }

    & .d__password {
        display: grid;
        height: 50px;
        margin-bottom: 20px;
        color: white;
        font-family: "Montserrat", sans-serif;
        font-size: 25px;
        font-weight: 700;
    }

    & .i__password {
        height: 30px;
        border-color: transparent;
        border-radius: 10px;
        font-family: "Montserrat", sans-serif;
        font-size: 20px;
    }

    & .button__login {
        position: relative;
        top: 25px;
        left: 50%;
        width: 150px;
        height: 50px;
        border-color: transparent;
        border-radius: 13px;
        transform: translateX(-50%);
        font-family: "Montserrat", sans-serif;
        font-size: 20px;
    }
}
