.table__topic {
    display: flex;
    justify-content: center;
    font-family: Roboto;
}

.logout {
    position: absolute;
    right: 10px;
    top: 0px;
    height: 38px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: Roboto;
}

.change-theme {
    position: absolute;
    left: 10px;
    top: 0px;
    height: 38px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: Roboto;
}

.btn-add__show {
    position: absolute;
    left: 500px;
    top: 0px;
    height: 38px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: Roboto;
}

.table {
    table-layout: fixed; // Фиксированная раскладка таблицы
    width: 100%;
    border: 2px solid rgb(140, 140, 140);
    border-collapse: collapse;
    font-family: Roboto;
    font-size: 20px;
    font-family: Roboto;

    th {
        height: 70px;
        border: 1px solid rgb(160, 160, 160);
        text-align: center;
        font-family: Roboto;
        font-weight: 700;
    }
    td {
        height: 70px;
        border: 1px solid rgb(160, 160, 160);
        text-align: center;
        font-family: Roboto;

        &:hover {
            background-color: rgb(170, 170, 170);
            transition: $transition;
        }
    }
}

.th__number {
    width: 80px;
}

.add__w {
    display: flex;
    justify-content: center;
    font-family: Roboto;
}

.add__input {
    display: flex;
    font-family: Roboto;

    &--buttons {
        width: 80px;

        .btn-add,
        .btn-save {
            width: 80px;
        }
    }

    &--input {
        input {
            height: 48px;
            width: 229.75px;
        }
    }
}

.add-hidden {
    display: none;
}

.add-active {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    z-index: 1000; // Поверх overlay
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); // Полупрозрачный черный фон
    z-index: 999; // Чтобы быть поверх всего контента
    pointer-events: auto; // Клики только по overlay
}
