//colors
$primary-color: #665345;
$primary-hover-color: #7a3d3d;

$secondary-color: #675446;
$secondary-hover-color: #556b2f;

$accent-color: #2e2e2e;
$text-color: #4d4d4d;
$light-color: #848a9a;
$border-color: #d2b48c;

$background1-color: #f5f5f5;
$background2-color: #fff9f6;

$red-color: #e91d13;
$green-color: #3bc158;
$blue-color: #008dd0;
$yellow-color: #ffc83e;
$white-color: #ffffff;
$black-color: #191919;

$transition: 0.2s;
