$primary-color: #624de3;
$secondary-color: #a30d11;
$theme-color: #26264f;
$table-hover-color: #eaeaea;
$even-row-color: #d6d0ff;
$odd-row-color: #fff;
$header-padding: 10px 20px;
$button-height: 38px;
$input-height: 48px;

$transition: 0.2;
