// Переменные
$primary-color: #624de3;
$secondary-color: #a30d11;
$theme-color: #26264f;
$table-hover-color: #eaeaea;
$even-row-color: #d6d0ff;
$odd-row-color: #fff;
$header-padding: 10px 20px;
$button-height: 38px;
$input-height: 48px;
$main-color: #fff;
$body-bg-color: #f5f5f5; // Светлый фон по умолчанию

// Переменные для ночной темы
$even-row-color-dark: #26264f;
$odd-row-color-dark: #1d1e42;
$text-color-dark: #fff;
$main-color-dark: #1d1e42;
$body-bg-color-dark: #1d1e42; // Тёмный фон для body

$transition: 0.5s linear;
