@charset "UTF-8";
/* нормализация */
html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*  
 Убираем внутренние отступы слева тегам списков,
 у которых есть атрибут class
*/
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/*
 Убираем внешние отступы body и двум другим тегам,
 у которых есть атрибут class
*/
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/*
 Убираем внешние отступы вертикали нужным тегам,
 у которых есть атрибут class
*/
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  padding: 0;
  margin-left: 0;
  border: none;
}

/**
 Убираем стандартный маркер маркированному списку,
 у которого есть атрибут class
*/
:where(ul[class]) {
  list-style: none;
}

/**
 Обнуляем вертикальные внешние отступы параграфа,
 объявляем локальную переменную для внешнего отступа вниз,
 чтобы избежать взаимодействие с более сложным селектором
*/
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
 Внешний отступ вниз для параграфа без атрибута class,
 который расположен не последним среди своих соседних элементов
*/
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
 Упрощаем работу с изображениями
*/
img {
  display: block;
  max-width: 100%;
}

/**
 Наследуем свойства шрифт для полей ввода
*/
html {
  /**
   Пригодится в большинстве ситуаций
   (когда, например, нужно будет "прижать" футер к низу сайта)
  */
  height: 100%;
  /**
   Плавный скролл
  */
  scroll-behavior: smooth;
}

body {
  /**
   Пригодится в большинстве ситуаций
   (когда, например, нужно будет "прижать" футер к низу сайта)
  */
  min-height: 100%;
  /**
   Унифицированный интерлиньяж
  */
  line-height: 1.5;
}

/**
 Приводим к единому цвету svg-элементы
*/
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
 Чиним баг задержки смены цвета при взаимодействии с svg-элементами
*/
svg * {
  -webkit-transition-property: fill, stroke;
  transition-property: fill, stroke;
}

/**
 Удаляем все анимации и переходы для людей,
 которые предпочитают их не использовать
*/
@media (prefers-reduced-motion: reduce) {
  * {
    scroll-behavior: auto !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
  }
}
/*  */
/*  */
/*  */
/*  */
/*  */
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 400;
  src: url(./../../assets/fonts/Rubik-Regular.woff2);
}
@font-face {
  font-family: Rubik;
  font-style: italic;
  font-weight: 400;
  src: url(./../../assets/fonts/Rubik-Italic.woff2);
}
@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  src: url(./../../assets/fonts/Rubik-Medium.woff2);
}
@font-face {
  font-family: Rubik;
  font-style: italic;
  font-weight: 500;
  src: url(./../../assets/fonts/Rubik-MediumItalic.woff2);
}
@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 700;
  src: url(./../../assets/fonts/Rubik-Bold.woff2);
}
@font-face {
  font-family: Rubik;
  font-style: italic;
  font-weight: 700;
  src: url(./../../assets/fonts/Rubik-BoldItalic.woff2);
}
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 76px;
  background-color: #09090c;
  padding-inline: 64px;
}
.header .header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 490px;
  gap: 80px;
}
.header .header__left .header__left--logo {
  width: 115px;
  height: 40px;
  color: #ffffff;
}
.header .header__left .header__left--buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: normal;
  color: #bababa;
  font-family: "Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  gap: 28px;
}
.header .header__left .header__left--buttons .left--buttons__main {
  color: #ffffff;
  text-align: center;
}
.header .header__left .header__left--buttons .left--buttons {
  cursor: pointer;
}
.header .header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 590px;
}
.header .header__right .header__right--buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: normal;
  text-align: center;
  font-family: "Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  gap: 8px;
}
.header .header__right .header__right--buttons .right--buttons__download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 44px;
  line-height: normal;
  padding: 10px 16px;
  border-color: transparent;
  border-radius: 12px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
  text-align: center;
  font-family: "Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  gap: 8px;
}
.header .header__right .header__right--buttons .right--buttons__pay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 44px;
  line-height: normal;
  padding: 10px 16px;
  border-color: transparent;
  border-radius: 12px;
  color: #09090c;
  background-image: linear-gradient(45deg, #f2f452 0%, #b4fd64 64%);
  cursor: pointer;
  text-align: center;
  font-family: "Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  gap: 8px;
}
.header .header__right .header__right--buttons .right--buttons__promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 44px;
  line-height: normal;
  padding: 10px 16px;
  border-color: transparent;
  border-radius: 12px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
  text-align: center;
  font-family: "Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  gap: 8px;
}
.header .header__right .header__right--buttons .right--buttons__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  padding: 11px 8px;
  border-color: transparent;
  border-radius: 100px;
  color: #bababa;
  background-color: transparent;
  cursor: pointer;
}
.header .header__right .header__right--buttons .right--buttons__login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 44px;
  line-height: normal;
  border-color: transparent;
  border-radius: 12px;
  color: #bababa;
  background-color: transparent;
  cursor: pointer;
  text-align: center;
  font-family: "Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  gap: 8px;
}

.trailer .trailer__img {
  z-index: -10;
  top: 76px;
}
.trailer .trailer__content {
  position: absolute;
  z-index: 10;
  top: 400px;
  left: 64px;
  height: 327px;
}
.trailer .trailer__content .trailer__content--info {
  display: block;
}
.trailer .trailer__content .trailer__content--info .trailer__content--stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 16px;
  padding-bottom: 24px;
  gap: 8px;
}
.trailer .trailer__content .trailer__content--info .trailer__content--stats .stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 34px;
  line-height: normal;
  padding: 9px 12px;
  border-radius: 8px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  text-align: right;
  font-family: "Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  gap: 4px;
}
.trailer .trailer__content .trailer__content--info .trailer__content--stats .premier {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 34px;
  line-height: normal;
  padding: 9px 12px;
  border-radius: 8px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  text-align: right;
  font-family: "Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  gap: 4px;
}
.trailer .trailer__content .trailer__content--info .trailer__content--stats .rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 34px;
  line-height: normal;
  padding: 9px 12px;
  border-radius: 8px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  text-align: right;
  font-family: "Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  gap: 4px;
}
.trailer .trailer__content .trailer__content--info .trailer__content--stats .dot,
.trailer .trailer__content .trailer__content--info .trailer__content--stats .stick {
  color: #bababa;
}
.trailer .trailer__content .trailer__content--info .trailer__content--stats .year,
.trailer .trailer__content .trailer__content--info .trailer__content--stats .season,
.trailer .trailer__content .trailer__content--info .trailer__content--stats .genre,
.trailer .trailer__content .trailer__content--info .trailer__content--stats .country,
.trailer .trailer__content .trailer__content--info .trailer__content--stats .age {
  line-height: 100%;
  color: #ffffff;
  letter-spacing: 0.1px;
  font-family: "Rubik";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
.trailer .trailer__content .recommend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}

.new__writing {
  line-height: normal;
  padding-bottom: 20px;
  color: #ffffff;
  font-family: "Rubik";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}

.new {
  padding-top: 60px;
  padding-left: 64px;
  background-color: #09090c;
}

.new__element {
  width: 280px;
  height: 487px;
}
.new__element .new__element--rating {
  position: absolute;
  top: 16px;
  left: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  padding: 5px 8px;
  border-radius: 8px;
  background-image: linear-gradient(45deg, #f2f452 0%, #b4fd64 64%);
  font-family: "Rubik";
  font-size: 16px;
  font-weight: 700;
  gap: 10px;
}
.new__element .new__poster {
  width: 280px;
  height: 425px;
  border-radius: 20px;
}